@import "tachyons";

html {
	height: 100%;
	box-sizing: border-box;

}

*,
*:before,
*:after {
	box-sizing: inherit;
	user-select: none;
}

#root, .App {
	overflow-x: hidden;
}

body {
	position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
	padding-bottom: 320px;
	font-family: source-han-sans-traditional, sans-serif;
	font-style: normal;
	font-weight: 100;
	overflow-x: hidden;
}

section {
	width: 100%;
	padding: 5rem 0;
}

.ds {
	overflow-y: hidden;
}

.nav ul{
  list-style-type: none;
}

.nav li {
  margin: 0 10px;
}

.nav li a {
  text-decoration: none; 
}

/* Loading Gif */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url(/images/loading.gif);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center center;
  opacity: 1;
  z-index: 100;
  transition: opacity 0s cubic-bezier(0.23, 1, 0.32, 1);
}

#loading.fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s cubic-bezier(0.23, 1, 0.32, 1);
}

.pv5rem {
	padding: 5rem 0;	
}

.collapsible {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #dbe1e9;
  text-align: left;
  outline: none;
  padding-left: 68px;
  padding-right: 56px;
  position: relative;
}

.collapsibleCircle {
  top: 16px;
  margin: auto;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.collapsible:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #dbe1e9;
  transform: scaleX(1.414);
  float: right;
  margin: auto;
  position: absolute;
  right: 18px;
  top: 0;
  bottom: 0;
  height: 11px;
}

.collapsible.active:after {
  content: "\25B2"; /* Unicode character for "minus" sign (-) */
  transform: scaleX(1.414) translateY(-4px);
}

.collapsible.active, .collapsible:hover {
  background-color: #eee;
}

.answers {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.color-content {
	color: #4C5B7F;
	letter-spacing: 1px;
}

.color-content2 {
	color: #4C5B7F;
	letter-spacing: 1px;
}

/* Navigation */
#section-nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  top: calc(50% - 79px);
  right: 32px;
  z-index: 90;
}

@media screen and (max-width: 959px) {
  #section-nav {
    display: none;
  }
}

#section-nav a {
  font-size: 13px;
  letter-spacing: .25px;
  color: #000;
  padding-right: 25px;
  height: 25px;
  width: 25px;
  padding-top: 25px;
  text-indent: 50px;
  overflow: hidden;
  margin: 2px 0;
  text-align: right;
  position: relative;
  white-space: nowrap;
  transition: all .1s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
}

#section-nav a:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: rgba(225,202,202,.4);
  border-radius: 100%;
  position: absolute;
  right: 0px;
  top: 3px;
  margin: 6px auto;
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

@media screen and (min-width: 769px) {

	#section-nav a:hover {
	  width: auto !important;
	  padding-top: 5px;
	  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
	}

	#section-nav a:hover:before,
	#section-nav a.active:before {
	  width: 12px;
	  background: #ffdf00;
	  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
	}
}

.f2rem {
	font-size: 2rem;
}

.f1375 {
	font-size: 1.375rem;
}

.f25 {
	font-size: 2.5rem;
	letter-spacing: 1px;
}

@media screen and (min-width: 769px) {
	.f25-l {
		font-size: 2.5rem;
		letter-spacing: 1px;
	}
	.f2125 {
		font-size: 2.125rem;
	}
}

.f25-l {
	font-size: 2rem;
}

.f2125 {
	font-size: 1.625rem;
}

.ls2 {
	letter-spacing: 2px;
}

.ls1 {
	letter-spacing: 1px;
}

.mw160 {
	max-width: 160px;
}
.mw240 {
	max-width: 240px;
}
.mw320 {
	max-width: 320px;
}
.mw400 {
	max-width: 400px;
}
.mw480 {
	max-width: 480px;
}
.mw640 {
	max-width: 640px;
}

.mw56rem {
	max-width: 56rem;
}

.mw75rem {
	max-width: 75rem;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.z10 {
	z-index: 10;
}

.z100 {
	z-index: 100;
}

.tab, .arrows {
  display: flex;
  justify-content: center;
}

.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  height: 60px;
  margin: 0 8px;
  box-shadow: 0px 4px 16px rgba(0,0,0,.2);
  max-width: 150px;
}

@media screen and (min-width: 769px) {
  .tab button {
    width: 150px;
  }
}

.tab button.color1 {
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,202,202,1) 100%);
  	color: #ff978e;
}
.tab button.color2 {
	background: linear-gradient(to bottom, rgba(0,0,255,1) 0%,rgba(255,202,202,1) 100%);
  	color: #ff978e;
}
.tab button.color3 {
	background: linear-gradient(to bottom, rgba(0,255,0,1) 0%,rgba(255,202,202,1) 100%);
  	color: #ff978e;
}

.tab button:nth-child(1) {
	border-radius: 20px 0px 0px 20px;
}

.tab button:nth-child(3) {
	border-radius: 0px 20px 20px 0px;
}

.tab button.color1.active {
  background: linear-gradient(to bottom, rgba(255,151,142,1) 0%,rgba(255,91,130,1) 100%);
  color: white;
}
.tab button.color2.active {
  background: linear-gradient(to bottom, rgba(0,0,255,1) 0%,rgba(255,91,130,1) 100%);
  color: white;
}
.tab button.color3.active {
  background: linear-gradient(to bottom, rgba(0,255,0,1) 0%,rgba(255,91,130,1) 100%);
  color: white;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  position: relative;
  z-index: 2;
}

.tabcontent.active {
	display: block;
}

#home-video-loop {
  z-index: -1;
  left: 0;
  opacity: 0;
}

.arrowlinks {
  background: linear-gradient(to right, rgba(255,202,202,1) 0%,rgba(255,255,255,1) 100%);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  height: 90px;
  margin: 0;
  box-shadow: 0px 4px 16px rgba(0,0,0,.2);
  color: #ff978e;
  padding: 0 32px;
  width: 18vw;
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowlinks:before {
	content: '';
	width: 68px;
	height: 68px;
	display: block;
	transform: rotate(45deg);
	background: linear-gradient(45deg, rgba(255,243,243,1) 0%,rgba(255,255,255,1) 50%);
	position: absolute;
	right: -32px;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 8px;
}

.arrowlinks:nth-child(1) {
  border-radius: 8px 0 0 8px;
}

.arrowlinks.active {
  background: linear-gradient(to right, rgba(255,151,142,1) 0%,rgba(255,91,130,1) 100%);
  color: white;
}

.arrowlinks.active:before {
  background: linear-gradient(45deg, rgba(255,107,133,1) 0%,rgba(255,91,130,1) 50%);
}

.tagline {
	opacity: 1;
	transition: all .2s cubic-bezier(0.23, 1, 0.32, 1) .4s;
}

#arrowTrigger.start {
	/*position: fixed;*/
}

.arrows {
	transform: translateX(-16px);
	transition: all .2s cubic-bezier(0.23, 1, 0.32, 1) .4s;
}

#arrowTrigger.start .arrows {
	transform: scale(.75) translate(-12px, -120px);
	transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

#arrowTrigger.start .tagline {
	opacity: 0;
	transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
}

#section3-content {
	overflow: hidden;
	transform: translateZ(0) scaleY(0);
	transform-origin: top;
	transition: all .4s ease-in-out;
}

.start #section3-content {
	max-height: 400px;
	transform: translateZ(0) scaleY(1);
	transition: all .4s ease-in-out;
}
