@import "tachyons";

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
  	margin: 0;
  	padding-bottom: 6rem;
  	min-height: 100%;
	padding-bottom: 320px;
	font-family: sans-serif;
}

section {
	width: 100%;
	padding: 6rem 0;
}